@import "tailwindcss";


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Helvetica;
}

.game-title {
  font-size: 88px;
  font-weight: bold; 
  text-align: center;
  color: #ffffff;
  margin: 20px 0;
  background: white;
  margin-top: 20px;
  padding-top: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  margin: 20px 0;
}

.color-button {
  padding: 25px 50px;
  font-size: 28px;
  cursor: pointer;
  border: 3px solid #333;
  border-radius: 12px;
  background-color: #fff;
  font-weight: 600;
  transition: all 0.3s ease;
}

.color-button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.color-button:active {
  transform: scale(0.95);
}


.colors{
  text-align: center;
  background-color: white;
  border-radius: 16px;
 
}